.main-container{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: red; */
}
.title-header{
    color:#FF7A00;
    font-size: 60px;
    width: 60%;
    text-align: left;
    /* margin-left: 50px; */
}
.start-button{
    width: 200px;
    height: 50px;
    background-color: #FF7A00;
    border-radius: 100px;
    border: 2px solid #f3cba6;
    color: white;
    font-weight: bold;
}
.title-main-container{
    width: 80%;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    align-items: center;
}
.title-div{
    /* background-color: red; */
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 10px; */
}
.title-image{
    width: 60%;
    height: 50%;
    border-radius: 10px;
}
.query-image{
    width: 400px;
    /* height: 50%; */
    border-radius: 10px;
}
.query-buttons-div{
    width: 500px;
    margin-top: 40px;
}
.query-button-1{
    background-color: #FF7A00;
    width:200px;
    height: 50px;
    color:white;
    border: 2px solid #eecaa8;
    border-radius:50px 0px 0px 50px;
}
.query-button-2{
    background-color: #FF7A00;
    width:200px;
    height: 50px;
    color:white;
    border: 2px solid #eecaa8;
    border-radius:0px 50px 50px 0px 
}
.review-div{
    background-color: #FFE7CB;
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: center;
    border-radius:10px ;
    align-self: center;
}
.review-image{
    width: 70%;
    height: 250px;
    border-radius: 10px;
}
.review-title{
    color:#686868
}